body {
  font-family: 'Montserrat', sans-serif;
}
.theme-bg {
  background-color: #0084ff;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 59px;
  color: #4c4c4c;
}
.btn-theme {
  background-color: #0084ff;
  color: white !important;
  transition: 0.3s;
}
.btn-theme:hover {
  margin-left: 10px;
  color: #0084ff !important;
  background-color: #ffffff !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.btn-theme-icon {
  background-color: #0084ff;
  color: white !important;
  border-radius: 50%;
  padding: 4px 10px;
  font-size: 25px;
  transition: 0.3s;
}
.btn-theme-icon:hover {
  margin-left: 10px;
  color: #0084ff !important;
  background-color: #ffffff !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.small-title {
  font-size: 21px;
  font-weight: bold;
  margin: 10px 0;
  color: #4c4c4c;
}
.card-descr {
  color: gray;
  text-align: center;
  margin-bottom: 10px;
}
.space {
  width: 100%;
  height: 150px;
}
.space-sm {
  width: 100%;
  height: 50px;
}
.nav-link {
  padding: 4px 0 0 0 !important;
  margin: 0 15px !important;
  color: #767676;
}

a.nav-link.active {
  font-weight: 600;
}
/*
a.nav-link:hover {
  border-bottom: 3px solid #0084ff;
} */

a.button {
  background: #0084ff;
  padding: 3px 11px 4px 11px;
  color: #ffffff;
  border-radius: 21px;
  text-decoration: none;
  position: relative;
  bottom: -3px;
  transition: 0.2s;
  font-size: 15px;
  border: 1px solid #ffffff00;
  margin: 0 15px;
}
a.button:hover {
  background: #ffffff;
  color: #0084ff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #d3eaff;
}

.hero-section {
  height: 400px;
  border-radius: 44px;
  margin-top: 60px;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(0 132 255) 0.1%,
    rgb(110 0 255) 99.8%
  );
}
.hero-img {
  border-radius: 50%;
  position: relative;
  top: -53px;
  width: 80%;
  box-shadow: 0px 29px 41px rgb(0 0 0 / 25%);
}
.icon {
  background: #0084ff;
  width: 73px;
  border-radius: 50%;
  padding: 16px 17px;
}
.feature {
  padding: 40px 10px;
  border-radius: 20px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  color: #fff;
  transition: 0.3s;
  background-color: #ffff;
  margin-bottom: 25px;
}
.feature:hover {
  transform: scale(1.1);
}
.center-logo {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #0084ff;
}
.testimonial-card {
  padding: 20px 30px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  border-radius: 15px;
}
.quote-icon {
  color: #0084ff;
  font-size: 30px;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.blog-post {
  border-radius: 10px;
  border: none;
  transition: all 0.3s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 25px;
}
.blog-post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: scale(1.05);
}
.post-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
label.date-time {
  padding: 0px 15px;
  color: #a5a5a5;
  font-size: 14px;
  margin: 8px 0px;
}
a.card-title {
  width: 100%;
  text-decoration: none;
  color: #818181;
  font-size: 19px;
  line-height: 5px;
  margin-bottom: 9px !important;
  transition: all 0.3s;
}
a.card-title:hover {
  color: #0084ff;
}
.author-name {
  color: #0084ff;
}
.line {
  height: 7px;
  background-color: #0084ff;
  width: 70px;
  margin-top: 8px;
}
/* Mobile Devices */
@media screen and (max-width: 480px) {
  a.button {
    margin-top: 10px;
  }
  .space {
    height: 50px;
  }
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  .nav-link:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width 0.2s ease, background-color 0.2s ease;
  }
  .nav-link:hover:after {
    width: 100%;
    background: #0084ff;
  }
  .nav-link.active:after {
    width: 100%;
    background: #0084ff;
  }
}
